
@keyframes animFondo{

  0%{
    opacity: 0%;
  }

  40%{
    opacity: 0%;
  }

  50%{
    opacity: 100%;
  }

  90%{
    opacity: 100%;
  }

  100%{
    opacity: 0%;
  }



}


@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
}


.inicio-fondo1{
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(https://lh3.googleusercontent.com/8AZX4KkwSGAw2EypYjesvGL3Wu-yTaObbw8bXm-Ac4ls8CeDVEzEzLCYh2iC8Otx4weobnxMaKWTJIrCxtPoOi9vJW8ruQT4fli53p7rIF-TqZbq9WJML546Q9XO5bb8mFnxD_ZfYDYFIrVBAnHIeaZPyGCs_gRguEtMFO8bNb6GpnwrXyI6cDvysFpYJtpnVYcb8cj3gqHl8AMGdXmXb2pV9vkn4C07x0BEHYDpQTZ27oiDFVcSX7mrz_E62sRAJJY71KoeO0524-5yyAufzgigSKnV9jfv0XFKLPJ31Na8BY2v_oBETX4PrZtPIygXmsngpH8u1ys2RFfJ2Q5_CrwIauqr2EVNT83BLuIHmHqpZ0S0qVNuqWN3EbB35dSxGJPPxrqLEieVVxarSho6MjHBRUd6RiiKMjnP2OxB-at-qRsGyUKxFDYiGybMzcb3taHiP-GEwLDpq4R3lMTIYAv14qmecBxgEb28A8TVT6scHhtPMJZIPoyY2zDAhoa0oqmE-q9MzGqjHEhgoHwszSO7-Qmiqm5pPNP2c-bn8CGPbm8UZjN6IjE_xg6bQhbGxHqfgVl6F1yqFQgsaBfVoT1I4oRpJh5kBtq0-8lZ-7-JGrQmE5HUacdjZ_1mxJ7LT0ceaF49GMr78gpG9Ggycb0Q6urdnbPki-JVUNEvbYbcaEKNIzMY2OFWtPQI=w1608-h903-no?authuser=0);
  background-position: top right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  
  
}

.inicio-fondo2{
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(https://lh3.googleusercontent.com/EMNkZ_MV9TTd7C4KGsRNkRLWG23tt3QW6cmOd3hsrc1hj73GmsaKxg7YTad4TOWuydJfVH-CoPcOWVuFkngscd1yEprEAh-LCjPk2yf8E9ydyk3nP1pWvAtzz4Ovo-oR5tFgrEKEC4Rj-PD4LaHHqHOZHQ9IKEx1lQ6eQjgcySqKTb0k0dRS-9UkAyKUF_UI9Q4xxENf4Wx_eXdhlU2HMmmcYiS6SVcfG9bAqMpO-gaC58MJp4pia9dp8lWKLR3etg74Doa0H9OCb1mgbLQJLmjhc2vdXmaAQLq-qk8besEJlv4_9pkrZEVOonAHAiFFg_A8PuoPwNSVAR-_OPc6uTf_fgHaKs2eNGdv35R36_gOUywgbw426dBsYlwl61nBfECtlJkyrSoa37dUztMoebD8TYQzkC7SYZym3AXMyJcE-zLZaKR2FT1dIZhhUNQbQBjMOw7Yo1Y6wPvTHdXC4uUDKiVDQzNxi3CPUsksPi2tC74gGscc4ID5UlRkF-ZmDrjt4JVxcibtz5GiiLcJ4X8qKk_fNzfUYySk4I91f_aVAUJQtxBEo2bpRyNzPa12U85Mv7VezDBD74T9nOtgHn9mVcTpoEFI0MrM9LsaByeOrD3n1PVbkywX62eHQSQtUJoyT2ISWmq9PMWFIfMws9Jfpmg83PGSRcFtqivGaO1C4Fre-fq-NfS3rVCK=w1608-h903-no?authuser=0);
  background-position: top right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  animation: animFondo 35s ease-out infinite;
  z-index: 50;
  
}

.botonera{
  position: absolute;
  top: 100px;
  left: calc(50% - 130px);

  background-color: #424242;
  text-align: center;
  padding: 20px;
  width: 220px;
  z-index: 100;
  filter: none;
  box-shadow:  0px 0px 10px black;
}

a{
  text-decoration: none;
  color: #424242;
}
a:visited{
  text-decoration: none;
  color: #424242;
}
a:link{
  text-decoration: none;
  color: #424242;
}

/*##############  Animacion logo react    #################*/

@keyframes animacionLogoReact {
  from {
    transform: rotate( 0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/*######################################*/

.botonera img{
  width: 75px;
  animation: animacionLogoReact 12s linear infinite;
}

.nav-logo img{
  width: 40px;
  animation: animacionLogoReact 12s linear infinite;
}


.boton{
        width: 200px;
        height: 75px;
        background-color: #F5F9FA;
        opacity: 100%;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        
        font-family: 'Raleway', sans-serif;
        display: block;

}

.boton:hover{
        
        background-color: #424242;
        color: white;
        transition: 0.5s ease-in;
        
        
        
        font-family: 'Raleway', sans-serif;
        display: block;

}

h1{
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  text-align: center;
  opacity: 100%;
}


.Cont_principal{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:20px 0px 0px 0px
}

.Cont_item{
	width: 350px;
	height: 700px;
	margin: 0px 20px 20px 20px;
	box-shadow: 5px;
}



.Cont_img{
	width: 350px;
	height: 600px;
	overflow: hidden;
}

.Cont_img img{
	width: 350px;
  height: 600px;
  filter: grayscale(75%);
  object-fit: cover;
}

.Cont_img:hover img{
  width: 350px;
  filter: grayscale(0%);
  transition: 0.75s;
  transform: scale(1.1);
}

.Cont_item p{
	background-color: gray;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 30px;
	text-align: center;
}

.Cont_item:hover p {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 30px;
  text-align: center;
  transition: 0.75s;
}





/*###############   NAVEGADOR      #######################*/


@media only screen and (min-width: 701px){


        .nav-container {
          display: flex;
            font-family: 'Raleway';
            width: 100%;
            height: 75px;
            background-color: #424242;
            
            flex-wrap: nowrap;
            flex-direction: row;
            /* justify-content: space-between; */
            align-items: center;
            
            
            
            color: #424242;
        }

        .nav-logo{
          width: 10vw;
        }

        .nav-item{
            list-style: none;
            text-align: center;
            width: 30vw;
            height: 60px;
            color: white;
            line-height:60px;
            
            
            
            /* text-align: center; */
        }

        .nav-item:hover{
         background-color: gray;
         transition: 0.5s ease-in;
        }

        

        input{
            display: none;
        }
        label{
            display: none;
        }


}



@media only screen and (max-width: 750px){

        ul{
          display: none;
        }

        input:checked  ~ ul{
          display:block;
        }

        input {
          display: none;
        }

        nav {
                    background-color: #F5F9FA;
                    font-family: 'Raleway', sans-serif;
                }

        label {
          box-sizing: border-box;
          display: inline-block;
          color: #424242;
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-weight: bold;
          text-align: center;
          user-select: none;
        }

        .item {
          display: block;
          color: #424242;
          background: #F5F9FA;
          margin: 0;
          padding: 10px;
          list-style: none;
          border-bottom: 1px solid #F5F9FA;
        }

        .item:hover{
            background-color: #AAACAD;
        }
}

/* #########  VISOR ##########*/

.visor-cont{
  

  width: 95%;
  height: 95%;
  position: fixed;
  top: 2.5%;
  z-index: 200;
}



.visor-fondo{
  background-color: black;

  width: 95%;
  height: 95%;
  position: fixed;
  top: 2.5%;
  z-index: 100;
  opacity: 95%;
  z-index: 250;
  
  
}

.visor-cont img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  height: 93%;
  z-index: 300;
 
  
}

.visor-cont p{
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  left: 90%;
  z-index: 300;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}