body{
  background-image: url(https://lh3.googleusercontent.com/WgQYx5JKUWkjOyPT753FDQ-_uPpAkwA8qSeCstvNP-pZu33JGuyLS_mNkyK5UttK4uOnBQSScb2fmV75WBdETRF0AT_dE6CjG8d-TnJO79GWZMDYwxiXvs4bjuIJZp6i6wLb1sg32OcJTUp7-7louDCmboBKdRButTdk6AYLVgIAXGj3WPebyz-yNfXf8imaiFVO5N9EOqcQmW9CHhKonxxkq839g2lQ-ubU8rpcLfESZooymEvFNxUNWeCoQxDntdkqHr05ioxyOWM673APcPEv5UnlOC2RxAmj_p3vyRV6T23NyTmWpBofH1eNkNbXai5o7WZeialEa-Jbsm4hcCY8Pt5MDVeOkvP6w9XdVSZAwer6tW6BZOpJTzBq0hVaSxbW48CFbU9YQTxgvGTnxxQe-I0m02S6EsefskXwh_mlPvxoJGpaygnmNffkuWXxlEwApQ5ijgA7Nq7FTcdmWuG1BMuaQSmX3E_4c2PqGT3Z5XZKiDZ0juGMrcPCnO8I8OuPi9RwgnOVZdJ_n4i7VbyAEGeF2nxGHx_4pnNT4GGDKmvyEBFyHSSXl-j-nCvQXsLXsA6fHzXzEjkE6ITL8hWK4QfUMtif4bAhww4fLbgz_ytbSWF1HsWrXDJYzTc5dKhHAPgymEenWDBW41eIVScMn48bgkv3GFbwAPhbPSRaS2WBfpxlfILgKSpDfg=w1608-h903-no?authuser=0);
  background-position: top right;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;

}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}




.bloqueCentral{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #424242;
        margin-top: 50px;
        padding: 20px;
        width: 230px;

}


.boton{
        width: 200px;
        height: 75px;
        background-color: #F5F9FA;
        opacity: 100%;
        margin: 5px;
        text-align: center;
        line-height: 75px;
        
        font-family: 'PT Sans', sans-serif;
        display: block;

}

.boton:hover{
        width: 200px;
        height: 75px;
        background-color: #424242;
        color: white;
        transition: 0.5s;
        opacity: 100%;
        margin: 5px;
        text-align: center;
        line-height: 75px;
        
        font-family: 'PT Sans', sans-serif;
        display: block;

}

h1{
  color: white;
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
  text-align: center;
  opacity: 100%;
}


.Cont_principal{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:20px 0px 0px 0px
}

.Cont_item{
	width: 350px;
	height: 700px;
	margin: 0px 20px 20px 20px;
	box-shadow: 5px;
}



.Cont_img{
	width: 350px;
	height: 600px;
	overflow: hidden;
}

.Cont_img img{
	width: 350px;
  filter: grayscale(75%);
}

.Cont_img:hover img{
  width: 350px;
  filter: grayscale(0%);
  transition: 0.75s;
  transform: scale(1.1);
}

.Cont_item p{
	background-color: gray;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 30px;
	text-align: center;
}

.Cont_item:hover p {
  background-color: black;
  color: white;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 30px;
  text-align: center;
  transition: 0.75s;
}





.encabezado{
        display: block;
        font-family: 'PT Sans', sans-serif;
        color: white;
        background: linear-gradient(180deg, black, transparent);
        height: 200px;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        padding: 50px;
    }


@media only screen and (min-width: 701px){


        nav {
            background-color: #F5F9FA;
            font-family: 'Raleway', sans-serif;
            padding: 5px;
            line-height: 0px;
            font-size: 15px;
            justify-content: center;
            color: #424242;
        }

        .item{
            display: inline-block;
            width: 33%;
            text-align: center;
        }

        .item:hover{
         background-color: gray;
        }

        

        input{
            display: none;
        }
        label{
            display: none;
        }


}



@media only screen and (max-width: 750px){

        ul{
          display: none;
        }

        input:checked  ~ ul{
          display:block;
        }

        input {
          display: none;
        }

        nav {
                    background-color: #F5F9FA;
                    font-family: 'Raleway', sans-serif;
                }

        label {
          box-sizing: border-box;
          display: inline-block;
          color: #424242;
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-weight: bold;
          text-align: center;
          user-select: none;
        }

        .item {
          display: block;
          color: #424242;
          background: #F5F9FA;
          margin: 0;
          padding: 10px;
          list-style: none;
          border-bottom: 1px solid #F5F9FA;
        }

        .item:hover{
            background-color: #AAACAD;
        }
}